@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;
}

:root {
    --primary-color: #e23636;
    --secondary-color: #f78f3f;
    --tertiary-color: #171821;
    --quaternary-color: #504a4a;
    --quinary-color: #fff;
    --senary-color: #518cca;
    --septenary-color: #e57e38;
}

body {
    background-color: var(--primary-color);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    background-color: var(--tertiary-color);
    width: 90%;
    max-width: 500px;
    padding: 3em 2em;
    margin-top: 1em;
    border-radius: 1em;
}

/* modal styles */
/* 
.modal-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-top: 5em;
    position: fixed;
}

dialog {
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.modal-button {
    background-color: var(--secondary-color);
    color: var(--quinary-color);
    border-radius: 0.5em;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 1em 0.5em;
    margin: 0.5em 0;
    width: 100%;
}

.modal-button:hover {
    background-color: var(--septenary-color);
} */

/* end of modal styles */
