@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;
}

:root {
    --primary-color: #e23636;
    --secondary-color: #f78f3f;
    --tertiary-color: #171821;
    --quaternary-color: #504a4a;
    --quinary-color: #fff;
    --senary-color: #518cca;
    --septenary-color: #e57e38;
}

body {
    background-color: var(--primary-color);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
}

.container {
    background-color: var(--tertiary-color);
    width: 90%;
    max-width: 500px;
    padding: 3em 2em;
    margin-top: 1em;
    border-radius: 1em;
}

/* modal styles */
/* 
.modal-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-top: 5em;
    position: fixed;
}

dialog {
    border: none;
    border-radius: 0.5em;
    padding: 1em;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

.modal-button {
    background-color: var(--secondary-color);
    color: var(--quinary-color);
    border-radius: 0.5em;
    cursor: pointer;
    border: none;
    outline: none;
    padding: 1em 0.5em;
    margin: 0.5em 0;
    width: 100%;
}

.modal-button:hover {
    background-color: var(--septenary-color);
} */

/* end of modal styles */

/* original non-component styles */

.input-container {
    display: flex;
    gap: 1em;
    position: relative;
}

.search-wrapper {
    position: relative;
    flex-grow: 1;
}

.search-input {
    width: 100%;
}

input {
    padding: 1em 0.5em;
    background-color: var(--quaternary-color);
    color: var(--quinary-color);
    border: none;
    border-radius: 0.5em;
    outline: none;
}

.search-button {
    flex-shrink: 0;
    width: 25%;
}

button {
    outline: none;
    border: none;
    background-color: var(--secondary-color);
    color: var(--quinary-color);
    border-radius: 0.5em;
    cursor: pointer;
}

.display-container {
    padding: 1em;
}

.character-image {
    background-color: var(--quinary-color);
    padding: 0.5em;
    height: 9.37em;
    width: 9.37em;
    display: block;
    margin: auto;
    border-radius: 50%;
}
.character-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.character-name {
    text-align: center;
    color: var(--quinary-color);
    padding: 0.5em 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5em;
}

.character-desc {
    text-align: justify;
    color: var(--senary-color);
    line-height: 2em;
    font-weight: 300;
}
.list-container {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: var(--quaternary-color);
    color: var(--quinary-color);
    z-index: 10;
    border-radius: 0.5em;
    overflow: hidden;
}
.autocomplete-items {
    padding: 0.5em;
}
.autocomplete-items:hover {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    text-transform: uppercase;
    font-weight: 600;
}
